@import "../constant/color.scss";

$types: normal, fire, water, electrics, grass, ice, fighting, poison, ground, flying, psychic, bug, rock, ghost, dragon, dark, steel, fairy;


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 0 30px;
  margin: 30px 20px;
  padding: 36px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 0 30px rgba(250, 250, 250, 0.3);
  }

  @each $type in $types {
    &.#{$type} {
      border-bottom: 10px solid map-get($colors, $type);
      border-left: 10px solid map-get($colors, $type);
    }
  }

  .card-image {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05),
      -10px -10px 20px rgba(0, 0, 0, 0.01);
    background-color: rgba(40, 40, 40, 0.5);
    overflow: hidden;

    @each $type in $types {
      &.#{$type} {
        border-bottom: 10px solid map-get($colors, $type);
        border-left: 10px solid map-get($colors, $type);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-detail {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-name {
      font-size: 24px;
      color: gray;
      letter-spacing: 2px;
    }

    .card-badge-container {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      .card-badge {
        padding: 5px 10px;
        margin: 3px;
        opacity: 0.8;
        color: white;

        @each $type in $types {
          &.#{$type} {
            background-color: map-get($colors, $type);
          }
        }
      }
    }
  }
}